:root{
    --bor-col: #000;
    --accent: #ff9500;
    --fadded-accent: #ff950050
}

*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 350%;
}
header{
    background-color: var(--accent);
    display: flex;
    justify-content: flex-start;
    width: auto;
    height: auto;
}
header h1{
    color: #fff;
    background-color: rgb(39, 39, 195);
    height: 50px;
}
header img{
    object-position: bottom left;
    width: 500px;
    height: 500px;
}
header nav {
    display: flex;
    justify-content: space-evenly;
}
nav a{
    display: flex;
    justify-content: flex-end;
    margin: 5px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

main div{
    display: flex;
}

main div h2{
    display: flex;
    border-right: 5px solid var(--bor-col);
    padding: 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 30px;
    text-align: end;
}

#first-img button{
    flex: 0 0 100%;
}

#work section a, #work section a button{ 
    flex: 0 0 50%;
    
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    padding: 0;*/
}

#work section a button, #work section a button img{
    width: 100%;
    padding: 0;
}

a #first-img img~a .press-me img, a~a .press-me{
    max-width: 45%;
    padding: 0;
}

div p, div ul, div section a button{
    margin-top: 20px;
    margin-right: 35px;
    padding: 0;
}
div p{
    display: block;
}

#work h2{
    margin-left: 5%;
}

.side-headers{
    margin-left: 50px;
}


#about-me h2{
    margin-left: 3.6%;
}
#contact-me h2{
    margin-left: 2.2%;
}

.press-me{
    background-color: var(--fadded-accent);
    color: #000;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
}

.press-me p{
    position: absolute;
    font-size: 36px;
    bottom: 20px;
    padding: 20px 20px 20px 30px;
    background-color: var(--accent);
}

.press-me::before{
    content: '';
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: var(--fadded-accent);
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
    transform-origin: bottom;
}
.press-me{
    z-index: 1;
}
.press-me:hover::before{
    transform: scaleX(1);
}

#work section img::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    background-color: var(--fadded-accent);
}

#contact-me {
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: row;
}
#contact-me ul{
    display: flex;
    flex-direction: row;
    margin: 30px;
    flex-wrap: nowrap;
    justify-content: space-around;
}
#contact-me ul li{
    display: flex;
    margin-left: 10em;
    justify-content: space-around;
}


footer{
    background-color: rgb(39, 39, 195);
    font-size: 36px;
    display: flex;
    justify-content: center;
}