*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 350%;
}
header{
    display: flex;
    justify-content: space-between;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    margin: 5px;
}